/*style.css*/
body{
    margin: 0;
    padding: 0;
    background-color: rgb(225, 225, 225);
}

button{
    background: #445A88;
    color:white;
    height: 30px;
    border-radius: 20px;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    font-size: 20px;
    background: #445A88;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.projectBtn{
    padding: 8px 40px;
    background-color: #263d02;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    transition: transform 0.2s ease;
}

.projectBtn:hover{
    background-color: #549c58;
}

.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    color: rgb(225,225,225);
    margin-left: 15px;
}

.header1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    color: #0f1408; 
}

.title{
    font-size: 3.4rem;
    font-weight: 75;
    margin: 30px 0 10px 0;
}

.sub-title{
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 10px 0;
    padding: 0 20px;
}

.top-img{
    width: 100%;
    height: 500px;
    background-image: url('../images1/MtRainier.jpg');
    background-size: cover;
    background-position: top;
    margin-top: 20px;
    padding-bottom: 1px;
}

.caption{
    margin: 0;
    text-align: center;
    padding-top: 1px;
    font-size: 1.2rem;
}

.biography{
    background-color: #263d02;
    color:rgb(225,225,225);
}

.bio-title{
    text-align: center;
    padding-top: 20px;
    font-size: 1.5rem;
}

.bio-text{
    margin: 20px;
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.projects-container{
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.project-card{
    display: flex;
    flex-direction: row;
    background: #263d02;
    color:rgb(225,225,225);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.9);
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.0s ease, transform 1.0s ease;
}

.project-card.visible{
    opacity: 1;
    transform: translateY(0);
}

.project-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.project-left img{
    width: 100%;
    border-radius: 10px;
}

.project-right{
    flex: 1;
}

.repo-link{ 
    display: inline-block;
    padding: 8px 12px;
    background: #445A88;
    color: rgb(225,225,225);
    text-decoration: none;
    border-radius: 6px;
    width: fit-content;
    transition: background-color 0.2s ease;
    transition: transform 0.2s ease;
    margin: 20px;
}

.repo-link:hover{
    background-color: #6983ba;
}

.growBtn{
    transform: scale(1.1);
}

/* outline layout boxes for testing */
/* * {
    outline: 1px solid red !important;
} */

@media (max-width:650px){
    .project-card{
        flex-direction: column;
        text-align: center;
    }

    .project-left{
        width: 100%;
        margin-bottom: 15px;
    }
}